@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');body {
 background-image: url("../background.jpeg");
 background-color: #cccccc;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;

  
}
.clr{
	clear: both;
}

.row{
	white-space: nowrap;
}

.row > div{
	width: 300px;
	display: inline-block;
}
.top-bar{
	float: left;
	width: 25%;
	background-color: white;
	box-sizing: border-box;
	margin-bottom: 50px;
	height: 125px;
	margin-top: 0px;

}

.top-bar h1{
	font-family: Poppins, Roboto;
	

	
}

.top-bar h3{
	font-family: Poppins, Roboto;
	letter-spacing: 3px;
}
.categories{
	margin-left: 50px;


}
#housing{
	float: left;
	width:77%;
	background-color: white;
	box-sizing: border-box;
	border-radius: 10px;
	padding-left: 20px;
	height: min-content;
	font-family: Poppins, Roboto;


	
}

.head{
	background-color: white;
}
.box-1{
	flex: 2;
	white-space:  nowrap;
	display: inline-block;
}

.address{
	flex: 1;
	display: inline-block;
}
.state{
	display: inline-block;
}
.state h3{
	font-weight: lighter;
}
#scholarship {
	float: right;
	width: 20%;
	background-color:white;
	box-sizing: border-box;
	border-radius: 10px;
	height: 1000px;
	text-align: center;
	font-family: Poppins, Roboto;
}
#scholarship h2{
	padding-left: 10px;
	padding-right: 10px;
	font-size: 20px;
	font-weight: lighter;
	font-family: Helvetica;
}

#fafsa{
	float: left;
	width: 77%;
	background-color: white;
	border-radius: 10px;
	height: 300px;
	border-sizing: border-box;
	padding-left: 20px;
	font-family: Poppins, Roboto;

}
.categories{
	box-sizing: border-box;
	

}


 .categories h5{
 	font-weight: lighter;
 	font-size: 17px;
 	margin-top: 35px;
 	margin-bottom: 15px;
 }

 .categories h3{
 	font-weight:500;
 }











